.cards-container {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  row-gap: 40px;
  column-gap: 60px;
  background-color: #1d1d1d;
  padding-bottom: 2rem;

  .card{
      padding: 1rem;
      border-radius: 15px;
      background-color: #141414;
      transition: transform 0.3s ease;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

      .booking{
        position: relative;
        object-fit: cover;
        height: 350px;

        .booking_btn{
          position: absolute;
          display: none;
          height: 2rem;
          align-items: center;
          padding: 0px 10px 0px 10px;
          font-size: 0.9rem;
          font-weight: 600;
          background-color: #f7f7f7;
          border: 1px solid rgba(255, 255, 255, 0.1);
          border-radius: .25rem;
          box-sizing: border-box;
          color: rgba(29, 29, 29, 0.85);
          cursor: pointer;
        }
      }
  }

  .card:hover{
    transform: scale(1.03);

    .booking_btn{
      display: flex;
      top: 8.5rem;
      left: 4rem;
    }
  }


  img {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
  }
  p {
    font-size: 1rem;
    line-height: 1.5;
    color: #e4e4e4;
  }
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.637);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  position: relative;
  background-color: #202020;
  color: #f7f7f7;
  padding: 20px;
  border-radius: 20px;
  width: 35vw;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.close {
  position: absolute;
  color: #fff;
  font-weight: 500;
  top: 10px;
  right: 10px;
  font-size: 1rem;
  font-weight: 400;
  align-items: center;
  background-color: #1d1d1d;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: .25rem;
  padding: 0px 15px 0px 15px;
  cursor: pointer;
  justify-content: center;
  min-height: 2.5rem;
  position: relative;
  width: auto;
}

.pagination{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3rem;
  align-items: center;
  color: #fff;
  background-color: #1d1d1d;

  button{
    font-size: 1rem;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    background-color: #1d1d1d;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    cursor: pointer;
  }

  button:hover{
    background-color: #1f1f1f;
  }
}

@media only screen and (max-width: 893px) {
  .cards-container {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(4, auto);
  }
}

@media only screen and (max-width: 589px) {
  .cards-container {
    grid-template-columns: repeat(1, 250px);
    grid-template-rows: repeat(9, auto);
  }
}







  
  
  