.my_movies{
    position: absolute;
    z-index: 1;
    top: 5.6rem;
    right: 2.7rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;

    .teamContent{
        color: #fff;
        position: relative;
        background-color: rgb(17, 17, 17);
        width: 300px;
        min-height: 150px;
        max-height: 400px;
        font-weight: 700;
        z-index: 77;
        padding: 1rem 0rem 1rem 1rem;
  
        .content{
            color: #fff;
            margin: 1rem 1rem 1rem 0rem;
            display: flex;
            justify-content: space-around;
            padding: 0.5rem;
            border: 1px solid;
            border-color: rgb(46, 46, 46);
            border-radius: 5px;
            font-weight: 400;

            .left{
                display: flex;
                font-size: 1rem;
                flex-direction: column;
                .name{
                    font-weight: 600;
                }
                .email,.date{
                    font-size: 0.8rem;
                }

                .remove{
                    border: none;
                    margin-top: 4rem;
                    font-size: 0.8rem;
                    color: #fff;
                    border-radius: 5px;
                    border: 1px solid;
                    border-color: rgb(46, 46, 46);
                    background-color: #50424200;
                    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
                    cursor: pointer;
                }
            }
            .right{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                img{
                    width:100px;
                    height: auto;
                    border-radius: 5px;
                }
            }
        }
    }
}